<nav class="navbar navbar-expand-lg bg-body-tertiary px-5">
    <div class="container-fluid">
      <h1 class="text-main special-font cursor-pointer ps-5">Greenly</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav special-font-i mx-auto">
          <li class="nav-item px-2">
            <a class="nav-link cursor-pointer fw-bold" routerLink="home" routerLinkActive="active-link">Home</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link cursor-pointer fw-bold" routerLink="shop" routerLinkActive="active-link">Shop</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link cursor-pointer fw-bold" routerLink="services" routerLinkActive="active-link">Services</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link cursor-pointer fw-bold">General Information</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link cursor-pointer fw-bold" routerLink="favorites" routerLinkActive="active-link">Favorites</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link cursor-pointer fw-bold" routerLink="blog" routerLinkActive="active-link">Blog</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link cursor-pointer fw-bold">Contact Us</a>
          </li>
        </ul>
        <div class="nav-buttons me-4">
            <button class="btn btn-success special-font-i rounded-3 px-3 py-1" type="button">Log In <img src="./assets/arrow-up-right-svgrepo-com.svg" style="filter: invert(1);" width="25px" height="25px"></button>
        </div>
      </div>
    </div>
  </nav>