<section>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row w-50 bg-light rounded-5 border border-success">
            <div class="col-md-12 p-5">
                <p class="lead text-center">Please enter your new password</p>
                <form [formGroup]="recoveryForm" (ngSubmit)="recoveryFormSubmit()">
                    <div class="mb-3 p-5">
                        <label for="password" class="form-label">Password</label>
                        <input [ngClass]="{
                            'is-valid' : !recoveryForm.get('password')?.errors && (recoveryForm.get('password')?.touched || recoveryForm.get('password')?.dirty ),
                            'is-invalid' : recoveryForm.get('password')?.errors && (recoveryForm.get('password')?.touched || recoveryForm.get('password')?.dirty )
                        }" type="password" class="mb-3 form-control" id="password" placeholder="name@example.com"
                            formControlName="password">
                            @if (recoveryForm.get("password")?.errors && recoveryForm.get("password")?.touched) {
                                <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                                    @if (recoveryForm.get("password")?.getError("required")) {<p class="m-0">Password is required</p>}
                                    @else if (recoveryForm.get("password")?.getError("pattern")) {<p class="m-0">Password must be at least 6 charachters and include numbers</p>}
                                </div>
                            }
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input  type="password" class="mb-3 form-control" id="confirmPassword" placeholder="name@example.com"
                            formControlName="confirmPassword">
                            @if (recoveryForm.getError("missMatch") && recoveryForm.get("confirmPassword")?.touched) {
                                <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                                    <p class="m-0">Passwords don't match</p>
                                </div>  
                            }
                        <button class="btn btn-success rounded-4 d-block w-100">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>