<section class="container mb-5 mt-3">
    <div id="carouselExampleAutoplaying" class="carousel slide w-100 mx-auto rounded-3" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/ev1.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="./assets/ev2.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="./assets/ev3.jpg" class="d-block w-100" alt="..." />
            </div>
        </div>
    </div>
    <div class="info mt-3">
        <h2 class="special-font text-main">
            Electric Vehicles: The Future of Transportation
        </h2>
        <p class="lh-lg">
            Electric vehicles (EVs), including electric cars, scooters, and bikes, are
            transforming the way we move by offering cleaner, quieter, and more
            energy-efficient alternatives to traditional gasoline-powered transport.
            Powered by rechargeable batteries, EVs help reduce air pollution and
            greenhouse gas emissions, making them a key part of the shift toward
            sustainable urban mobility. With growing infrastructure, government
            incentives, and rapid technological advancements, electric vehicles are
            becoming more accessible and practical for everyday use.
        </p>
    </div>
    <hr />
    <div class="second-section mt-4">
        <div class="row">
            <div class="col-7 h-25">
                <owl-carousel-o [options]="mainSlider" class="text-center h-25">
                    <ng-template carouselSlide class="position-relative">
                        <img src="./assets/f1.jpg" alt="Slide 1" class="w-100 rounded-3" />
                    </ng-template>
                    <ng-template carouselSlide class="position-relative">
                        <img src="./assets/f2.jpg" alt="Slide 1" class="w-100 rounded-3" />
                    </ng-template>
                    <ng-template carouselSlide class="position-relative">
                        <img src="./assets/f3.jpg" alt="Slide 1" class="w-100 rounded-3" />
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="col-5">
                <h2 class="special-font text-main mb-3">
                    Factory Pollution: Impact on the Environment
                </h2>
                <p class="lh-lg">
                    Factories play a vital role in manufacturing and economic growth, but
                    they are also a major source of environmental pollution. Industrial
                    processes often release harmful emissions into the air, such as carbon
                    dioxide, sulfur dioxide, and nitrogen oxides, contributing to global
                    warming and poor air quality. Wastewater and chemical runoff from
                    factories can also contaminate rivers and soil, posing risks to
                    ecosystems and human health. Addressing factory pollution requires
                    stricter regulations, cleaner technologies, and a shift toward more
                    sustainable industrial practices.
                </p>
            </div>
        </div>
    </div>
    <hr />
    <div class="third-section mt-4">
        <div class="row">
            <div class="col-7">
                <owl-carousel-o [options]="mainSlider" class="text-center h-25">
                    <ng-template carouselSlide class="position-relative">
                        <img src="./assets/e1.jpg" alt="Slide 1" class="w-100 rounded-3" />
                    </ng-template>
                    <ng-template carouselSlide class="position-relative">
                        <img src="./assets/e2.jpg" alt="Slide 1" class="w-100 rounded-3" />
                    </ng-template>
                    <ng-template carouselSlide class="position-relative">
                        <img src="./assets/e3.jpg" alt="Slide 1" class="w-100 rounded-3" />
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="col-5">
                <h2 class="special-font text-main mb-3">
                    The Importance of Nature in a Sustainable World
                </h2>
                <p class="lh-lg">
                    Nature is the foundation of life on Earth, providing the air we
                    breathe, the water we drink, and the resources we rely on. Forests,
                    oceans, and diverse ecosystems help regulate the climate, support
                    wildlife, and maintain a balanced environment. Protecting natural
                    habitats and preserving biodiversity is essential for a healthy planet
                    and the well-being of future generations. As human activity continues
                    to impact the environment, it’s more important than ever to promote
                    conservation and live in harmony with nature.
                </p>
            </div>
        </div>
    </div>
    <hr />
    <div class="fourth-section mt-4">
        <div class="row">
            <!-- 1 -->
            <div class="col-4">
                <img src="./assets/R1.jpg" alt="Slide 1" class="w-100 rounded-3 mb-3" />
                <h2 class="special-font text-main mb-3 text-start">
                    Turning Trash into Treasure: Smarter Waste, Cleaner Planet
                </h2>
                <p class="lh-lg text-start">
                    Recycling and waste management are essential practices to reduce the
                    growing problem of pollution. By properly sorting and disposing of
                    materials like plastic, paper, and metal, we prevent harmful waste
                    from ending up in landfills and oceans. Recycling conserves resources,
                    saves energy, and protects wildlife from the dangers of litter and
                    toxic waste. Everyone can make a difference by reducing what they use,
                    reusing items when possible, and recycling correctly.
                </p>
            </div>
            <!-- 2 -->
            <div class="col-4">
                <img src="./assets/T1.jpg" alt="Slide 1" class="w-100 rounded-3 mb-3" />
                <h2 class="special-font text-main mb-3 text-start">
                    Powering the Future: Clean Energy for a Greener World
                </h2>
                <p class="lh-lg text-start">
                    Renewable energy sources like solar, wind, and hydro power offer clean
                    alternatives to fossil fuels. Unlike coal and oil, these energy
                    sources don’t emit harmful greenhouse gases, making them a vital part
                    of the fight against climate change. Investing in renewable energy not
                    only helps protect the planet but also promotes innovation and creates
                    sustainable jobs. As technology advances, clean energy is becoming
                    more affordable and accessible around the world.
                </p>
            </div>
            <!-- 3 -->
            <div class="col-4">
                <img src="./assets/D1.jpg" alt="Slide 1" class="w-100 rounded-3 mb-3" />
                <h2 class="special-font text-main mb-3 text-start">
                    Every Drop Counts: Protecting Our Water for Tomorrow
                </h2>
                <p class="lh-lg text-start">
                    Water conservation is critical to preserving Earth’s most precious
                    resource. With growing populations and climate change putting pressure
                    on water supplies, it’s more important than ever to use water wisely.
                    Simple actions like fixing leaks, using water-efficient appliances,
                    and turning off taps when not in use can save thousands of liters each
                    year. Protecting freshwater sources also ensures clean water remains
                    available for drinking, farming, and supporting natural ecosystems.
                </p>
            </div>
        </div>
    </div>
</section>