<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 p-0">
                <div class="cover p-5 rounded-3 w-100 position-relative">
                    <div class="img-holder text-center position-absolute translate-middle-x d-flex justify-content-center align-items-center">
                        <img src="./assets/verified-check-svgrepo-com.svg" alt="confirm" width="170px" height="170px">
                    </div>
                    <div class="inner pt-5">
                        <h1 class="text-center special-font">Confirm Email</h1>
                        <p class="text-center">Please enter the code sent to your email.</p>
                        <form [formGroup]="confirmEmailForm" (ngSubmit)="confrimEmail()">
                            <div class="mb-3">
                                <label for="code" class="form-label">Code</label>
                                <input type="text" class="form-control" id="code"
                                    placeholder="xxxx" formControlName="code">
                            </div>
                            <button class="btn btn-success w-50 d-block mx-auto px-4 py-2">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>