<section>
    <div class="container d-flex justify-content-center align-items-center p-5">
        <div class="row g-0">
            <div class="col-md-5">
                <div class="left-content d-flex justify-content-end">
                    <img src="./assets/Background Image-1.png" alt="Greenly Logo" class="w-100 rounded-2">
                </div>
            </div>
            <div class="col-md-7  ps-2 d-flex flex-column justify-content-center align-items-center  rounded-2">
                <div class="right-content-text w-75">
                    <div class="text border-bottom border-secondary text-center">
                        <h1 class="special-font m-0 p-0">Login to your account</h1>
                        <p class="ps-1 text-secondary">Welcome Back!</p>
                    </div>
                </div>
                <div class="inputs mt-3 w-75 mx-auto">
                    <form [formGroup]="loginForm" (ngSubmit)="loginData()">
                        <div class="mb-3">
                            <label for="email" class="form-label special-font fs-3">Email<img
                                    src="./assets/user-svgrepo-com.svg" width="25px" height="25px" alt="User Icon"
                                    class="pb-1"></label>

                            <input [ngClass]="{
                                    'is-valid' : !loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty ),
                                    'is-invalid' : loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty )
                                }" type="email" class="form-control w-100" id="email" placeholder="Enter your email"
                                formControlName="email">
                            @if (loginForm.get("email")?.errors && loginForm.get("email")?.touched) {
                            <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                                @if (loginForm.get("email")?.getError("required")) {<p class="m-0">Email Is Required</p>
                                }
                                @else if (loginForm.get("email")?.getError("email")) {<p class="m-0">Email format is not
                                    correct</p>}
                            </div>
                            }
                        </div>
                        <div class="mb-3 position-relative">
                            <span (click)="togglePasswordVisibility()" class="cursor-pointer position-absolute eye-password"><i class="fa-solid"
                                [ngClass]="isPasswordVisible ? 'fa-eye-slash text-main' : 'fa-eye text-main'"></i></span>
                            <label for="password" class="form-label special-font fs-3">Password<img
                                    src="./assets/lock-alt-svgrepo-com.svg" width="20px" height="20px"
                                    alt="User Icon"></label>
                            <input [ngClass]="{
                                    'is-valid' : !loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty ),
                                    'is-invalid' : loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty )
                                }" [type]="isPasswordVisible ? 'text' : 'password'" class="form-control w-100 no-tick no-x" id="password"
                                placeholder="Enter your password" formControlName="password">
                        </div>
                        @if (loginForm.get("password")?.errors && loginForm.get("password")?.touched) {
                            <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                                @if (loginForm.get("password")?.getError("required")) {<p class="m-0">Password is required</p>}
                                @else if (loginForm.get("password")?.getError("pattern")) {<p class="m-0">Password must be at least 8 charachters</p>}
                            </div>
                        }
                        <button class="btn-main w-75 d-block mx-auto rounded-5" [disabled]="loginForm.invalid">LogIn</button>
                    </form>
                </div>
                <h3 class="fs-6 mt-3 mx-auto fw-bold">Don't have an account? <span class="text-success cursor-pointer"
                        routerLink="/register">Sign Up Now!</span></h3>
            </div>
        </div>
    </div>
</section>