<section class="my-3">
  <div class="container">
    <h2 class="text-center special-font mb-4">What are you thinking of today?</h2>

    <div class="row justify-content-center g-4">

      <div class="col-md-6 col-sm-6 col-10">
        <div class="req-card rounded-4 p-4 text-center shadow-sm h-100" routerLink="/admin/add-product">
          <div class="mb-4 icon-box bg-success-subtle d-inline-flex align-items-center justify-content-center rounded-circle mx-auto">
            <img src="./assets/stores-store-svgrepo-com.svg" alt="Loan Icon" width="60" height="60">
          </div>
          <h3 class="special-font fs-4 mt-3">Add Product</h3>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-10">
        <div class="req-card rounded-4 p-4 text-center shadow-sm h-100" routerLink="/admin/add-category">
          <div class="mb-4 icon-box bg-success-subtle d-inline-flex align-items-center justify-content-center rounded-circle mx-auto">
            <img src="./assets/folder-svgrepo-com.svg" alt="Loan Icon" width="60" height="60">
          </div>
          <h3 class="special-font fs-4 mt-3">Add Category</h3>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-10">
        <div class="req-card rounded-4 p-4 text-center shadow-sm h-100" routerLink="/admin/add-sub-category">
          <div class="mb-4 icon-box bg-success-subtle d-inline-flex align-items-center justify-content-center rounded-circle mx-auto">
            <img src="../assets/category-management-svgrepo-com.svg" alt="Loan Icon" width="60" height="60">
          </div>
          <h3 class="special-font fs-4 mt-3">Add Sub Category</h3>
        </div>
      </div>

      

    </div>
  </div>
</section>