<section class="home-slider mb-5">
    <div class="container-fluid p-0">
        <div class="row g-0 slider-row">
            <div class="col-md-12">
                <owl-carousel-o [options]="mainSlider">
                    <ng-template carouselSlide class="position-relative">
                        <div class="img-text position-absolute top-50 start-50 translate-middle text-white w-100">
                            <h2 class="slider-text text-white special-font">
                                Protect the beauty of nature</h2>
                            <p class="w-50 mx-auto">Support clean choices and eco-actions to keep nature thriving and
                                beautiful.
                            </p>
                        </div>
                        <img src="./assets/hero-image.png" alt="Slide 1" class="w-100" />
                    </ng-template>
                    <ng-template carouselSlide class="position-relative">
                        <div class="img-text position-absolute top-50 start-50 translate-middle text-white w-100">
                            <h2 class="slider-text text-white special-font">
                                Embrace Eco-Friendly Living</h2>
                            <p class="w-50 mx-auto">Reconnect with the
                                Make simple changes—reuse, recycle, and reduce waste—to help protect our
                                planet every day.
                            </p>
                        </div>
                        <img src="./assets/roy-luthfi-dhayugantara-D-oAUO46-9c-unsplash.jpg" alt="Slide 1"
                            class="w-100" />
                    </ng-template>
                    <ng-template carouselSlide class="position-relative">
                        <div class="img-text position-absolute top-50 start-50 translate-middle text-white w-100">
                            <h2 class="slider-text text-white special-font">
                                Sustain the Earth’s Future
                            </h2>
                            <p class="w-50 mx-auto">Support green choices and clean habits to preserve
                                nature for tomorrow.
                            </p>
                        </div>
                        <img src="./assets/walter-martin-CCbZ-DYDWiY-unsplash.jpg" alt="Slide 1" class="w-100" />
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<section class="ourServices p-5 pt-0">
    <div class="container-fluid">
        <div class="position-relative bg-danger mb-5">
            <h4 class="text-main fs-6 position-absolute top-0">Our Services</h4>
        </div>
        <div class="row mt-5 py-5">
            <div class="col-md-6 d-flex align-items-center" data-aos="fade-right">
                <div class="cards">
                    <div class="my-container">
                        <div data-text="Blog" style="--r:-15;" class="glass cursor-pointer"
                            routerLink="/app/system/blog">
                            <div class="mb-3">
                                <img src="./assets/message-square-svgrepo-com.svg" width="50px" height="50px"
                                    alt="Blog Icon" />
                            </div>
                            <p>We provide a space to share your thoughts, engage in meaningful discussions, and connect
                                with others—promoting awareness, inspiration, and a deeper connection to environmental
                                and sustainable living topics.</p>
                        </div>
                        <div data-text="Agricultural Loans" style="--r:5;" class="glass cursor-pointer"
                            routerLink="/app/system/loan">
                            <div class="mb-3">
                                <img src="./assets/farmer-working-svgrepo-com.svg" width="50px" height="50px"
                                    alt="Blog Icon" />
                            </div>
                            <p>We lead change with smart solutions that accelerate electric vehicle adoption, fostering
                                a cleaner environment and a more sustainable future of transport.</p>
                        </div>
                        <div data-text="Apiary Licences" style="--r:25;" class="glass cursor-pointer"
                            routerLink="/app/system/apiary-licence">
                            <div class="mb-3">
                                <img src="./assets/honey-svgrepo-com.svg" width="50px" height="50px" alt="Blog Icon" />
                            </div>
                            <p>We support beekeepers with efficient tools and practices that promote responsible apiary
                                growth, healthier pollinators, and sustainability in agriculture and nature.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wrapper">
                    <div class="my-inner" style="--quantity: 6;">
                        <div class="card cursor-pointer" style="--index: 0;--color-card: 142, 252, 157;"
                            routerLink="/app/system/general-info">
                            <div>
                                <span class="small special-font">Recycling</span>
                            </div>
                            <div class="img">
                                <img src="./assets/recycling-svgrepo-com.svg" class="w-100 h-100" alt="slider-img">
                            </div>
                        </div>
                        <div class="card cursor-pointer" style="--index: 1;--color-card: 142, 252, 157;"
                            routerLink="/app/system/loan">
                            <div>
                                <span class="small special-font">Loans</span>
                            </div>
                            <div class="img">
                                <img src="./assets/loan-svgrepo-com.svg" class="w-100 h-100" alt="slider-img">
                            </div>
                        </div>
                        <div class="card cursor-pointer" style="--index: 2;--color-card: 142, 252, 157;"
                            routerLink="/app/system/shop">
                            <div>
                                <span class="small special-font">Agricultural</span>
                            </div>
                            <div class="img">
                                <img src="./assets/scythe-agriculture-svgrepo-com.svg" class="w-100 h-100"
                                    alt="slider-img">
                            </div>
                        </div>
                        <div class="card cursor-pointer" style="--index: 3;--color-card: 142, 252, 157;"
                            routerLink="/app/system/apiary-licence">
                            <div>
                                <span class="small special-font">Apiary Licences</span>
                            </div>
                            <div class="img">
                                <img src="./assets/honey-svgrepo-com (1).svg" class="w-100 h-100" alt="slider-img">
                            </div>
                        </div>
                        <div class="card cursor-pointer" style="--index: 4;--color-card: 142, 252, 157;"
                            routerLink="/app/system/blog">
                            <div>
                                <span class="small special-font">Blog</span>
                            </div>
                            <div class="img">
                                <img src="./assets/blog-svgrepo-com.svg" class="w-100 h-100" alt="slider-img">
                            </div>
                        </div>
                        <div class="card cursor-pointer" style="--index: 5;--color-card: 142, 252, 157;" routerLink="/app/system/shop">
                            <div>
                                <span class="small special-font">Mobility</span>
                            </div>
                            <div class="img">
                                <img src="./assets/ecologism-cars-svgrepo-com.svg" class="w-100 h-100" alt="slider-img">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<section class="top-products p-5 mb-5">
    <div class="container">
        <div class="position-relative" data-aos="slide-right">
            <h4 class="text-main fs-6 position-absolute top-0">Top Products</h4>
        </div>
        <div class="row  px-5 g-4 justify-content-center pt-5">
            <div class="col-md-4 container-2">
                <div class="card cursor-pointer">
                    <div class="imgBx">
                        <img src="./assets/blue-water-9-inch-activated-carbon-filter.jpg" alt="nike-air-shoe">
                    </div>

                    <div class="contentBx">

                        <h2>Activated Carbon Filter</h2>
                        <a class="cursor-pointer">Buy Now</a>
                    </div>

                </div>
            </div>
            <div class="col-md-4 container-2">
                <div class="card cursor-pointer">
                    <div class="imgBx">
                        <img src="./assets/images.png" alt="nike-air-shoe" class="w-50">
                    </div>

                    <div class="contentBx">

                        <h2>Electric Scooter</h2>
                        <a class="cursor-pointer">Buy Now</a>
                    </div>

                </div>
            </div>
            <div class="col-md-4 container-2">
                <div class="card cursor-pointer">
                    <div class="imgBx">
                        <img src="./assets/bike.png" alt="nike-air-shoe" class="w-75">
                    </div>

                    <div class="contentBx">

                        <h2>Electric Bike</h2>
                        <a class="cursor-pointer">Buy Now</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="stats-section p-5">
    <div class="container">
        <div class="row">
            @if(insights){
            <div class="col-md-3">
                <app-counter [endValue]="insights.users" label="Registered Users"></app-counter>
            </div>
            <div class="col-md-3">
                <app-counter [endValue]="insights.approvedLicenses" label="Apiaries Licensed"></app-counter>
            </div>
            <div class="col-md-3">
                <app-counter [endValue]="insights.orders" label="Orders Placed"></app-counter>
            </div>
            <div class="col-md-3">
                <app-counter [endValue]="insights.products" label="Different Product"></app-counter>
            </div>
            }
        </div>
    </div>
</section>
<section class="p-5 mb-5">
    <div class="container">
        <div class="position-relative mb-5">
            <h4 class="text-main fs-6 position-absolute top-0">Help</h4>
        </div>
        <div class="mt-5">
            <div class="accordion pt-5 w-75 mx-auto" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            How can I apply for an agricultural loan through the platform?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            To apply for a loan, simply register or log in to your account, then navigate to the Loan
                            Request section. Fill out the required details, such as your farm information, purpose of
                            the loan, and requested amount. Our team will review your request, and you’ll be notified
                            once it’s approved or if additional documentation is needed.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            What documents are required to request an apiary license?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            You’ll need to provide proof of land ownership or lease, a valid national ID, and a
                            description of your planned apiary setup. After submitting your request on the platform, our
                            team will verify the information and guide you through the final steps. We handle the
                            paperwork processing and keep a small service fee for that.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What kind of eco-friendly products are available in the shop?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Our shop offers a wide range of eco-friendly products including organic fertilizers,
                            biodegradable pest control solutions, sustainable irrigation tools, and composting kits. All
                            products are selected to support sustainable farming and reduce environmental harm.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Can I track the status of my loan or license request?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Yes! Once you submit a request, you can track its status through your dashboard. You’ll see
                            updates such as "Pending," "Under Review," "Approved," or "Rejected," along with any
                            comments from our team. You’ll also receive email notifications for major updates.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-aos="fade-right">
                <div class="left-about-content p-5 pe-0 position-relative">
                    <h4 class="text-main fs-6 position-absolute">About Us</h4>
                    <p class="special-font about-main-text">
                        We help bring your vision of a harmonious world with nature to life.
                    </p>
                    <p class="bottom-text">We are committed to fostering a harmonious relationship between people and
                        nature, working toward a cleaner, healthier planet. Together, we help bring your vision of a
                        thriving, sustainable world to life.</p>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="section-banner">
                </div>
            </div>
        </div>
    </div>
</section>