.slider-text{
    font-size: 74px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.home-slider p{
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
h4{
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    top: 30px;
    left: 100px;
}
h4::before{
    content: "";
    font-size: 50px;
    color: #177E39;
    position: absolute;
    left: -50px;
    top: 7.5px;
    width: 40px;
    height: 1px;
    background-color: #177E39;
}
.about-us .about-main-text{
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
}
.ps-10{
    padding-left: 100px;
}
.our-services h3{
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
}
.inner{
    border: 1px solid #81E084;
    transition: all 0.3s ease-in-out;
}
.inner:hover{
    border: 1px solid #177E39;
    box-shadow: 0 0 10px #81E084;
}
.accordion-button:not(.collapsed) {
    background-color: #4CAF50 !important; 
    color: white; 
  }
  .slider-row{
    height: 500px;
  }
.slider-row {
  height: 500px !important;
}

.home-slider owl-carousel-o,
.home-slider .owl-carousel,
.home-slider .owl-stage-outer,
.home-slider .owl-stage,
.home-slider .owl-item {
  height: 100% !important;
}

.home-slider img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.img-text {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}
.my-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
}

.my-container .glass {
  position: relative;
  width: 220px;
  height: 350px;
  background: rgba(0, 200, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
  padding: 10px;
  color: white;
  text-align: center;
}

.my-container:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.my-container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.my-container .glass svg {
  font-size: 2.5em;
  fill: #fff;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.my-inner {
  --w: 100px;
  --h: 150px;
  --translateZ: calc((var(--w) + var(--h)) + 0px);
  --rotateX: -15deg;
  --perspective: 1000px;
  position: absolute;
  width: var(--w);
  height: var(--h);
  top: 25%;
  left: calc(50% - (var(--w) / 2) - 2.5px);
  z-index: 2;
  transform-style: preserve-3d;
  transform: perspective(var(--perspective));
  animation: rotating 20s linear infinite; /* */
}
@keyframes rotating {
  from {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(0);
  }
  to {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(1turn);
  }
}

.card {
  position: absolute;
  border: 2px solid rgba(var(--color-card));
  border-radius: 12px;
  overflow: hidden;
  inset: 0;
  transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
    translateZ(var(--translateZ));
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #0000
    radial-gradient(
      circle,
      rgba(var(--color-card), 0.2) 0%,
      rgba(var(--color-card), 0.6) 80%,
      rgba(var(--color-card), 0.9) 100%
    );
}


.container-2 {
    position: relative;
}

.container-2 .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container-2 .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #177E39;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container-2 .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

/* .container-2 .card:after {
    content: "Nike";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);

} */

.container-2 .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container-2 .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
}

.container-2 .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 270px;
}

.container-2 .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container-2 .card:hover .contentBx {
    height: 210px;
}

.container-2 .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container-2 .card .contentBx .size,
.container-2 .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container-2 .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container-2 .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.container-2 .card .contentBx .size h3,
.container-2 .card .contentBx .color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container-2 .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container-2 .card .contentBx .size span:hover {  /* other bug */
    background: #B90000;
}

.container-2 .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
     background: #177E39;
}

.container .card .contentBx .color span:nth-child(3) {
     background: #1B2FE9;
}

.container .card .contentBx .color span:nth-child(4) {
     background: #080481;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
}
.testimonial-section{
    background-color: rgba(0, 150, 0, 0.3);
}