h4 {
    font-family: Open Sans, sans-serif;
    font-weight: 500;
}

h4::before {
    content: "";
    font-size: 50px;
    color: #177E39;
    position: absolute;
    left: -50px;
    top: 10px;
    width: 40px;
    height: 1px;
    background-color: #177E39;
}

.special-span {
    font-size: 16px;
}

.file {
    border: 1px #177E39 dashed;
    padding: 20px;
}
  

