<section>
    <div class="container my-3">
        <h1 class="special-font text-center">Add Product</h1>
        <form [formGroup]="addProductForm" class="form" (ngSubmit)="onSubmit()">
            <div class="row mt-4 justify-content-center">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="product-name" class="form-label fs-5 special-font">Product Name</label>
                        <input type="text" class="form-control border-success" id="product-name"
                            formControlName="name" />
                        @if (addProductForm.get('name')?.errors && addProductForm.get('name')?.touched) {
                        <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                            @if (addProductForm.get('name')?.getError('required')) {
                            <p class="m-0">Product Name is required</p>
                            } @else if (addProductForm.get('name')?.getError('minlength')) {
                            <p class="m-0">Product Name must be at least 3 characters</p>
                            } @else if (addProductForm.get('name')?.getError('maxlength')) {
                            <p class="m-0">Maximum allowed characters are 150</p>
                            }
                        </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="product-category" class="form-label fs-5 special-font">Product Category</label>
                        <select id="product-category" class="form-select border-success" formControlName="categoryid">
                            <option value="" disabled>Select a Category</option>
                            @for (category of categoriesData; track category._id) {
                            <option [value]="category._id">{{category.name}}</option>
                            }
                        </select>
                        @if (addProductForm.get('categoryid')?.errors &&
                        addProductForm.get('categoryid')?.touched) {
                        <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                            <p class="m-0">Product Category is required</p>
                        </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="product-subCategory" class="form-label fs-5 special-font">Product Sub
                            Category</label>
                        <select class="form-select border-success" id="product-subCategory"
                            formControlName="subcategoryid">
                            <option value="">-- Select Sub Category --</option>
                            @for (sub of subCategories; track sub._id) {
                            <option [value]="sub._id">{{ sub.name }}</option>
                            }
                        </select>
                        @if (addProductForm.get('subcategoryid')?.errors &&
                        addProductForm.get('subcategoryid')?.touched) {
                        <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                            <p class="m-0">Product Sub Category is required</p>
                        </div>
                        }
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="vendor" class="form-label fs-5 special-font">Vendor Name</label>
                        <input type="text" class="form-control border-success" id="vendor" formControlName="vendor" />
                        @if (addProductForm.get('vendor')?.errors && addProductForm.get('vendor')?.touched) {
                        <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                            @if (addProductForm.get('vendor')?.getError('required')) {
                            <p class="m-0">Vendor Name is required</p>
                            } @else if (addProductForm.get('vendor')?.getError('minlength')) {
                            <p class="m-0">Vendor Name must be at least 3 characters</p>
                            } @else if (addProductForm.get('vendor')?.getError('maxlength')) {
                            <p class="m-0">Maximum allowed characters are 150</p>
                            }
                        </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="stock" class="form-label fs-5 special-font">Stock</label>
                        <input type="number" class="form-control border-success" id="stock" formControlName="stock" />
                        @if (addProductForm.get('stock')?.errors && addProductForm.get('stock')?.touched) {
                        <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                            @if (addProductForm.get('stock')?.getError('required')) {
                            <p class="m-0">Stock is required</p>
                            } @else if (addProductForm.get('stock')?.getError('min')) {
                            <p class="m-0">Minimum stock is 1</p>
                            }
                        </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="price" class="form-label fs-5 special-font">Price</label>
                        <input type="number" class="form-control border-success" id="price" formControlName="price" />
                        @if (addProductForm.get('price')?.errors && addProductForm.get('price')?.touched) {
                        <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                            @if (addProductForm.get('price')?.getError('required')) {
                            <p class="m-0">Price is required</p>
                            } @else if (addProductForm.get('price')?.getError('min')) {
                            <p class="m-0">Minimum price is 1</p>
                            }
                        </div>
                        }
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="mb-3">
                        <label for="ratingAvg" class="form-label fs-5 special-font">Rating Average</label>
                        <input type="number" class="form-control border-success" id="ratingAvg"
                            formControlName="ratingAvg" />
                        @if (addProductForm.get('ratingAvg')?.errors && addProductForm.get('ratingAvg')?.touched) {
                        <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                            @if (addProductForm.get('ratingAvg')?.getError('required')) {
                            <p class="m-0">Rating Average is required</p>
                            } @else if (addProductForm.get('ratingAvg')?.getError('min')) {
                            <p class="m-0">Minimum Rating Average is 1</p>
                            }
                        </div>
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="long-description" class="form-label fs-5 special-font">Long Description</label>
                        <textarea rows="7" class="form-control border-success" id="long-description"
                            formControlName="longdescription"></textarea>
                        @if (addProductForm.get('longdescription')?.errors &&
                        addProductForm.get('longdescription')?.touched) {
                        <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                            @if (addProductForm.get('longdescription')?.getError('required')) {
                            <p class="m-0">Long Description is required</p>
                            } @else if (addProductForm.get('longdescription')?.getError('minlength')) {
                            <p class="m-0">Minimum characters allowed are 20</p>
                            }
                        </div>
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="short-description" class="form-label fs-5 special-font">Short Description</label>
                        <textarea rows="3" class="form-control border-success" id="short-description"
                            formControlName="shortdescription"></textarea>
                        @if (addProductForm.get('shortdescription')?.errors &&
                        addProductForm.get('shortdescription')?.touched) {
                        <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                            @if (addProductForm.get('shortdescription')?.getError('required')) {
                            <p class="m-0">Short Description is required</p>
                            } @else if (addProductForm.get('shortdescription')?.getError('minlength')) {
                            <p class="m-0">Minimum characters allowed are 10</p>
                            }
                        </div>
                        }
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label special-font fs-4">Cover Image</label>
                    <input type="file" class="file form-control border-success bg-light" formControlName="imageCover"
                        (change)="onCoverImageSelected($event)" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label special-font fs-4">Images</label>
                    <input type="file" class="file form-control border-success bg-light" formControlName="images"
                        multiple (change)="onImagesSelected($event)" />
                </div>
            </div>
            <div class="row mt-3 mb-5 justify-content-center">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success w-100 fs-5 special-font"
                        [disabled]="addProductForm.invalid">Add</button>
                </div>
            </div>
        </form>
    </div>
</section>