<section>
  <div class="container my-3">
    <h1 class="special-font text-center">Add Category</h1>

    <form [formGroup]="addSubCategoryForm" class="form" (ngSubmit)="onSubmit()">
      <div class="row mt-4 justify-content-center">

        <!-- Category Name -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="category-name" class="form-label fs-5 special-font">Category Name</label>
            <input type="text" class="form-control border-success" id="category-name" formControlName="name" />
            @if (addSubCategoryForm.get('name')?.errors && addSubCategoryForm.get('name')?.touched) {
              <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                @if (addSubCategoryForm.get('name')?.getError('required')) {
                  <p class="m-0">Category name is required</p>
                } @else if (addSubCategoryForm.get('name')?.getError('minlength')) {
                  <p class="m-0">Category name must be at least 3 characters</p>
                } @else if (addSubCategoryForm.get('name')?.getError('maxlength')) {
                  <p class="m-0">Maximum allowed characters are 150</p>
                }
              </div>
            }
          </div>
        </div>
        <div class="col-md-6">
                    <div class="mb-3">
                        <label for="product-category" class="form-label fs-5 special-font">Product Category</label>
                        <select id="product-category" class="form-select border-success"
                            formControlName="categoryid">
                            <option value="" disabled>Select a Category</option>
                            @for (category of categoriesData; track category._id) {
                            <option [value]="category._id">{{category.name}}</option>
                            }
                        </select>
                        @if (addSubCategoryForm.get('categoryid')?.errors &&
                        addSubCategoryForm.get('categoryid')?.touched) {
                        <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                            <p class="m-0">Product Category is required</p>
                        </div>
                        }
                    </div>
                </div>

        <!-- Description -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="category-description" class="form-label fs-5 special-font">Description</label>
            <textarea rows="3" class="form-control border-success" id="category-description" formControlName="description"></textarea>
            @if (addSubCategoryForm.get('description')?.errors && addSubCategoryForm.get('description')?.touched) {
              <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                @if (addSubCategoryForm.get('description')?.getError('required')) {
                  <p class="m-0">Description is required</p>
                } @else if (addSubCategoryForm.get('description')?.getError('minlength')) {
                  <p class="m-0">Minimum characters allowed are 10</p>
                }
              </div>
            }
          </div>
        </div>

      </div>

      <!-- Submit Button -->
      <div class="row mt-3 mb-5 justify-content-center">
        <div class="col-md-4">
          <button type="submit" class="btn btn-success w-100 fs-5 special-font" [disabled]="addSubCategoryForm.invalid">
            Add
          </button>
        </div>
      </div>
    </form>
  </div>
</section>