.card {
  max-width: 500px;
  margin-top: 50px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(245, 245, 220, 0.7); /* Semi-transparent beige */
  backdrop-filter: blur(8px); /* Add blur effect */
  border-radius: 10px; /* Optional: rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: subtle border */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 179, 89, 0.1);
}

.form-control {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.btn-success {
  background-color: #28a745;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #218838;
}