<section>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row w-50 bg-light rounded-5 border border-success">
            <div class="col-md-12 p-5">
                <p class="lead text-center">Please enter your email and we will send you a code</p>
                <form [formGroup]="recoveryForm" (ngSubmit)="recoveryFormSubmit()">
                    <div class=" p-5">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="mb-3 form-control" id="email" placeholder="name@example.com" formControlName="email">
                      <button class="btn btn-success rounded-4 d-block w-100" routerLink="/app/system/confirm-code">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>