<section class="my-5">
    <div class="container">
        <div class="user-orders mt-5">
            <table class="table table-light border border-1 rounded-3 table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Items</th>
                        <th scope="col">Total</th>
                        <th scope="col">Shipping Address</th>
                        <th scope="col">Current Status</th>
                        <th scope="col">Update Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for (order of ordersData; track order._id; let i = $index) {
                    <tr>
                        <td class="text-nowrap">{{i+1}}</td>
                        <td>{{order.createdAt | date:'shortDate'}}</td>
                        <td>
                            <div class="d-flex flex-column">
                                @for (item of order.items; track item._id) {
                                <span>{{item.quantity}} × {{item.productId.name}}</span>
                                }
                            </div>
                        </td>
                        <td>{{order.amount | currency:"GBP" }}</td>
                        <td>
                            <div class="d-flex flex-column small">
                                <span>{{order.shippingAddress.street}}, {{order.shippingAddress.building}}</span>
                                <span>{{order.shippingAddress.city}}, {{order.shippingAddress.state}}</span>
                                <span>{{order.shippingAddress.postalcode}}</span>
                                <span class="text-nowrap">📞 {{order.phone}}</span>
                            </div>
                        </td>
                        <td>
                            <span class="badge" [ngClass]="{
            'bg-primary': order.statusofpayment === 'shipped',
            'bg-success': order.statusofpayment === 'delivered',
            'bg-secondary': order.statusofpayment === 'pending'
          }">
                                {{order.statusofpayment}}
                            </span>
                        </td>   
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Order Status
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item cursor-pointer" (click)="updateOrderStatus(order._id, 'pending')">Pending</a></li>
                                    <li><a class="dropdown-item cursor-pointer" (click)="updateOrderStatus(order._id, 'shipped')">Shipped</a></li>
                                    <li><a class="dropdown-item cursor-pointer" (click)="updateOrderStatus(order._id, 'delivered')">Delievered</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    } @empty {
                    <tr>
                        <td colspan="7" class="text-center py-4">No orders found</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>