<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <div class="product-slider">
                    <owl-carousel-o [options]="productSlider">
                        @for (image of productDetails.images; track $index) {
                            <ng-template carouselSlide>
                                <img [src]="image" class="w-100">
                            </ng-template>
                        }
                      </owl-carousel-o>
                </div>
            </div>
            <div class="col-md-8">
                <div class="top-content d-flex justify-content-between align-items-center">
                    <h1 class="special-font">{{productDetails.name}}</h1>
                    <div class="product-price fs-5 fw-semibold">
                        <span class="text-secondary mx-3"><del>500</del></span>
                        <span class="text-main">{{productDetails.price}}</span>
                    </div>
                </div>
                <div class="product-description w-75 my-4">
                    <p class="text-secondary fw-semibold">
                        {{productDetails.shortdescription}}
                    </p>
                </div>
                <div class="add-to-cart-btn mt-5 pt-5 d-flex justify-content-between align-items-center">
                    <div class="product-rating">
                        <span>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-star-half" style="color: #FFD43B;"></i>
                        </span>
                        <span>
                            3.3
                        </span>
                    </div>
                    <button class="btn rounded-5 btn-special px-4" (click)="addProductToCart(productDetails._id)">
                        <img src="./assets/cart-plus-svgrepo-com.svg" width="25px" height="25px" alt="Add to Cart" />
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
        <div class="about-product my-5 p-2">
            <h4 class="text-main fs-6 position-relative">About product</h4>
            <p class="lead">
                {{productDetails.longdescription}}
            </p>
        </div>
    </div>
</section>