.btn-special{
    background-color: #F0F0F0;
    border: 1px solid #177E39;
    transition: all 0.3s ease-in-out;
  }
  .btn-special:hover{
    background-color: F0F0F0;
    box-shadow: 0 0 10px #81E084; 
  }
  h4{
    font-family: Open Sans, sans-serif;
    font-weight: 500;
}
h4::before{
    content: "";
    font-size: 50px;
    color: #177E39;
    position: absolute;
    left: -50px;
    top: 7.5px;
    width: 40px;
    height: 1px;
    background-color: #177E39;
}