ul li{
    font-size: 14px;
}
.btn-special{
    background-color: #F0F0F0;
    border: 1px solid #177E39;
    transition: all 0.3s ease-in-out;
}
.btn-special:hover{
    box-shadow: 0 0 10px #81E084; 
}
.cart-counter{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: 0;
    color: white;
}